mixin banner-big-section(image, link)
  .container.splitted-banners-section
    +banner-big(image, link)

mixin banner-big(image, link)
  +b.A.splitted-banners.row.wow.fadeInUp( href=link )
    +e.IMG.banner._big.column._xs-12( src=image )

mixin banner-splitted-section(imageOne, linkOne, imageTwo, linkTwo)
  .container.splitted-banners-section
    +banner-splitted(imageOne, linkOne, imageTwo, linkTwo)

mixin banner-splitted(imageOne, linkOne, imageTwo, linkTwo)
  +b.splitted-banners.row.wow.fadeInUp
    a.column.column_xs-12.column_md-6( href=linkOne )
      +e.IMG.banner._small( src=imageOne )
    a.column.column_xs-12.column_md-6( href=linkTwo )
      +e.IMG.banner._small( src=imageTwo )

